<form asp-controller="Books" asp-action="FilterBooks">
  <input type="submit" name="filter" value="All" class="btn btn-primary" />
  <input type="submit" name="filter" value="Fiction" class="btn btn-primary" />
  <input type="submit" name="filter" value="Bio" class="btn btn-primary" />
  <input type="submit" name="filter" value="Modern" class="btn btn-primary" />
  <input type="submit" name="filter" value="English" class="btn btn-primary" />
  <input type="submit" name="filter" value="French" class="btn btn-primary" />
</form>